code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  padding-top: 170px;
}

a:hover {
  text-decoration: none;
  color: unset;
}

b {
  font-weight: bold;
}

.form-control[readonly] {
  background-color: #bbbbbb;
  width: 100%;
}

/* Navbar */

.wbdv-navbar-settings {
  height: 200px;
  padding: 0px;
  display: block;
  pointer-events: none;
}

.wbdv-top-bar-height {
  height: 100%;
}

.wbdv-long-blank {
  background-color: white;
  height: 60px;
  width: 100%;
  pointer-events: auto;
}

.wbdv-long-bar {
  background-color: #3AB1E3;
  height: 80px;
  width: 100%;
  border: 2px solid black;
  border-left: 0px;
  border-right: 0px;
  padding: 15px 10px;
  pointer-events: auto;
}

.wbdv-logo-section {
  position: relative;
  background-color: #3AB1E3;
  height: 140px;
  width: 260px;
  top: -45px;
  left: 3.4vw;
  border: 2px solid black;
}

.wbdv-logo {
  position: absolute;
  top: -20px;
  left: 5px;
  height: 180px;
  width: 235px;
}

.wbdv-small_logo {
  position: absolute;
  height: 66px;
  width: 110px;
  top: -10px;
  padding-left: 10px;
}

.wbdv-search-group {
  width: 80%;
  margin: 0 auto;
  border-radius: 0px;
}

.wbdv-search-bar {
  height: 45px;
  border-radius: 0px;
  border: 2px solid black;
  border-right: 0px;
  font-size: 25px;
}

.wbdv-search-button {
  height: 45px;
  border-radius: 0px;
  border: 2px solid black;
}

.wbdv-search-icon {
  color: black;
}

.wbdv-profile-img {
  color: black;
  position: absolute;
  top: -3px;
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  border: 2px solid black;
  padding: 0px;
}

.wbdv-profile-img-picture {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wbdv-profile-text {
  position: absolute;
  right: 85px;
  font-size: 22px;
  padding: 5px;
}

.wbdv-loginregister-text-sm {
  position: absolute;
  font-size: 12px;
  right: 20px;
  padding: 5px;
  font-weight: bold;
}

.wbdv-loginregister-text {
  position: absolute;
  right: 20px;
  font-size: 22px;
  padding: 5px;
}

.wbdv-header-dropdown {
  position: absolute;
  bottom: -129px;
  right: 20px;
  background-color: #3AB1E3;
  color: black;
  border-radius: 0px;
  border: 2px solid black;
  text-align: center;
  font-size: 1.4em;
  padding: 3px;
}

.wbdv-header-dropdown-list {
  padding: 0px;
  margin: 0px;
}

.wbdv-header-dropdown-item {
  background-color: #3AB1E3;
  border: 0px;
  padding: 0px 40px;
  text-align: center;
  font-size: 0.8em;
}

.wbdv-top-text {
  text-align: right;
}

/* Search Area */

.wbdv-search-area {
  background-color: #e9ecef;
  border: 2px solid black;
  margin-top: 30px;
  padding: 20px;
}

.wbdv-search-area-top {
  padding: 0px 10px 20px;
  font-size: 24px;
}

.card {
  background-color: #CCCCCC;
  color: black;
  border-radius: 0px;
  border: 2px solid black;
  margin: 0px;
  padding: 10px;
}

.wbdv-card-img {
  border-radius: 0px;
  border: 2px solid black;
}

.card-body {
  padding: 5px 0px 0px;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

.card-date {
  width: 100%;
  padding-top: 10px;
  color: white;
}

.wbdv-search-bottom-buttons {
  text-align: center;
}

.wbdv-page-btn {
  margin: 5px;
  border-radius: 0px;
  border: 2px solid black;
  background-color: #DDDDDD;
}

.wbdv-current-page {
  background-color: #BBBBBB;
}

/* Issue */

.wbdv-issue-info {
  background-color: #e9ecef;
  border: 2px solid black;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
}

.wbdv-issue-reviews {
  background-color: #e9ecef;
  border: 2px solid black;
  padding: 20px;
}

.wbdv-issue-cover {
  width: 100%;
  border-radius: 0px;
  border: 2px solid black;
  min-height: 400px;
  margin-bottom: 20px;
}

.wbdv-basic-top-outer {
  min-height: 400px;
  margin-bottom: 20px;
}

.wbdv-top-area {
  height: 10%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.wbdv-top-area-col {
  padding: 0px;
}

.wbdv-arrow-btn {
  background-color: #CCCCCC;
  border-radius: 0px;
  border: 2px solid black;
  height: 70%;
  width: 30%;
  text-align: center;
  font-size: .9em;
  font-weight: bolder;
  padding: 2px;
  margin-right: 20px;
}

.wbdv-add-btn {
  background-color: #CCCCCC;
  border-radius: 0px;
  border: 2px solid black;
  height: 100%;
  width: 60%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
  padding: 5px;
}

.wbdv-top-info {
  background-color: #DDDDDD;
  height: 45%;
  border-radius: 0px;
  border: 2px solid black;
}

.wbdv-info-row {
  height: 20%;
  margin: 0px;
  font-size: 16px;
  padding: 5px 0px;
}

.wbdv-info-row-column {
  padding: 0px 10px;
}

.wbdv-top-chars {
  background-color: #DDDDDD;
  height: 35%;
  border-radius: 0px;
  border: 2px solid black;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.wbdv-top-spacer {
  height: 5%;
}

.wbdv-issue-description {
  background-color: #DDDDDD;
  border-radius: 0px;
  border: 2px solid black;
  padding: 8px;
  overflow: hidden;
}

.wbdv-section-title {
  font-size: 18px;
  padding: 0px 0px 2px;
}

.wbdv-issue-related-header {
  background-color: #3AB1E3;
  color: white;
  margin-top: 20px;
  border-radius: 0px;
  border: 2px solid black;
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
}

.wbdv-cover-row {
  margin: 0px;
}

.wbdv-related-cover-col {
  margin-top: 5px;
  padding: 1.5%;
}

.wbdv-related-cover {
  border-radius: 0px;
  border: 2px solid black;
  width: 100%;
}

/* Issue Review */

.wbdv-review-row {
  margin: 0px;
}

.wbdv-review-top-col {
  padding: 3px 0px 0px;
  letter-spacing: 5px;
}

.wbdv-review-star {
  font-size: 18px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.wbdv-review-star-filled {
  color: #FF303A;
}

.wbdv-review-star-blank {
  color: white;
}

.wbdv-review-title {
  background-color: #3AB1E3;
  color: white;
  border-radius: 0px;
  border: 2px solid black;
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
}

.wbdv-review-add-col {
  padding-left: 0px;
}

.wbdv-review-add {
  background-color: #3AB1E3;
  color: white;
  border-radius: 0px;
  border: 2px solid black;
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
  line-height: 28px;
  padding: 0px;
  width: 100%;
}

.wbdv-review-list {
  border-radius: 0px;
}

.wbdv-review {
  background-color: #DDDDDD;
  border-radius: 0px;
  border: 2px solid black;
  padding: 10px;
  margin-top: 20px;
}

.wbdv-review+.wbdv-review {
  border-top-width: 2px;
}

.wbdv-review-user {
  background-color: white;
  color: black;
  border-radius: 0px;
  border: 2px solid black;
  width: 50%;
  padding-left: 5px;
}

.wbdv-review-text {
  background-color: white;
  color: black;
  border-radius: 0px;
  border: 2px solid black;
  margin-top: 10px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.wbdv-review-name-color {
  color: black;
}

.wbdv-delete-review {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #3AB1E3;
  color: white;
  z-index: 30;
  border-radius: 0px;
  border: 2px solid black;
  padding: 2px 7px;
}

.wbdv-review-textarea {
  background-color: white;
  color: black;
  border-radius: 0px;
  border: 2px solid black;
  margin-top: 10px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none;
}

.wbdv-review-star-hover {
  cursor: pointer;
}

.wbdv-review-post {
  background-color: #FF303A;
  color: white;
  border-radius: 0px;
  border: 2px solid black;
  padding: 0px 10px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
}

/* Add box */

.wbdv-add-box {
  position: absolute;
  width: 90%;
  right: 0px;
  top: 96%;
  z-index: 50;
  background-color: #CCCCCC;
  border-radius: 0px;
  border: 2px solid black;
  padding: 10px 20px;
  text-align: left;
  font-size: 12px;
}

.wbdv-grade-dropdown {
  background-color: #e9ecef;
  color: black;
  border-radius: 0px;
  border: 2px solid black;
  margin-bottom: 10px;
}

.wbdv-signature-field {
  background-color: #e9ecef;
  color: black;
  border-radius: 0px;
  border: 2px solid black;
  margin-bottom: 10px;
}

.wbdv-add-done-btn {
  background-color: #3AB1E3;
  color: white;
  border-radius: 0px;
  border: 2px solid black;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
  margin: 5px 0px;
  padding: 2px;
}

/* Home */

.wbdv-home-info {
  background-color: #e9ecef;
  border: 2px solid black;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 18px;
}

.wbdv-home-col {
  margin-top: 20px;
}

.wbdv-home-issues {
  background-color: #e9ecef;
  border: 2px solid black;
  padding: 20px;
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.wbdv-home-issues-header {
  background-color: #3AB1E3;
  color: white;
  border-radius: 0px;
  border: 2px solid black;
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
}

.wbdv-home-login {
  background-color: #e9ecef;
  border: 2px solid black;
  padding: 5px 20px 0px;
  width: 100%;
  height: 100%;
  font-size: 38px;
  margin-bottom: 20px;
}

.wbdv-home-login-size {
  font-size: 14px;
}

.wbdv-home-login-field {
  background-color: white;
  color: black;
  border-radius: 0px;
  border: 2px solid black;
  margin-bottom: 5px;
  font-size: 14px;
}

.wbdv-home-login-btn {
  background-color: #FF303A;
  color: white;
  border-radius: 0px;
  border: 2px solid black;
  width: 100%;
  text-align: center;
  font-size: .5em;
  font-weight: bolder;
  margin: 5px 0px;
  padding: 2px;
}

.wbdv-home-small-login-btn {
  font-size: 12px;
  font-weight: bolder;
}

.wbdv-home-profile {
  background-color: #e9ecef;
  border: 2px solid black;
  padding: 5px 20px 0px;
  width: 100%;
  height: 100%;
  font-size: 26px;
  margin-bottom: 20px;
}

.wbdv-home-profile-img {
  background-color: white;
  color: black;
  height: 120px;
  width: 120px;
  margin-top: 15px;
  border-radius: 65px;
  border: 2px solid black;
  padding: 0px;
}

.wbdv-home-profile-btn {
  background-color: #FF303A;
  color: white;
  border-radius: 0px;
  border: 2px solid black;
  width: 100%;
  text-align: center;
  font-size: .65em;
  font-weight: bolder;
  margin: 2px 0px 0px;
  padding: 2px;
}

.wbdv-home-profile-col-left {
  padding-right: 4px;
}

.wbdv-home-profile-col-right {
  padding-left: 4px;
}

.wbdv-home-cover-col {
  margin-top: 8px;
  padding: 1.5%;
}

/* Recent Reviews */

.wbdv-recent-reviews {
  background-color: #e9ecef;
  border: 2px solid black;
  padding: 20px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  margin: 20px 0px;
}

.wbdv-recent-reviews-header {
  background-color: #3AB1E3;
  color: white;
  border-radius: 0px;
  border: 2px solid black;
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
}

.wbdv-covered-review-cover-col {
  padding: 0px;
}

.wbdv-covered-review-cover {
  border-radius: 0px;
  border: 2px solid black;
  width: 100%;
  padding: 0px;
  max-height: 183px;
}

.wbdv-covered-review-text-col {
  padding: 0px 0px 0px 10px;
}

.wbdv-covered-review-message {
  background-color: white;
  color: black;
  border-radius: 0px;
  border: 2px solid black;
  margin-top: 10px;
  padding: 5px 7px;
  height: 142px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/* Login */

.wbdv-login-section {
   background-color: #e9ecef;
   border: 2px solid black;
   margin-top: 30px;
   padding: 30px 20px;
   font-size: 40px;
   min-height: 481px;
 }

.wbdv-login-header {
  font-size: 60px;
}

.wbdv-login-group {
  padding-top: 5px;
  font-size: 18px;
}

.wbdv-login-field {
  background-color: white;
  color: black;
  border-radius: 0px;
  border: 2px solid black;
  margin-bottom: 5px;
  font-size: 18px;
}

.wbdv-login-btn {
  background-color: #FF303A;
  color: white;
  border-radius: 0px;
  border: 2px solid black;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  margin: 5px 0px;
  padding: 0px;
}

.wbdv-small-login-btn {
  font-size: 16px;
  font-weight: bolder;
}

.wbdv-small-btn-color {
  color: black;
}

/* Register */

.wbdv-register-section {
  background-color: #e9ecef;
  border: 2px solid black;
  margin-top: 30px;
  padding: 30px 20px;
  font-size: 40px;
  min-height: 481px;
}

.wbdv-register-header {
  font-size: 60px;
}

.wbdv-register-group {
  padding-top: 5px;
  font-size: 18px;
}

.wbdv-register-field {
  background-color: white;
  color: black;
  border-radius: 0px;
  border: 2px solid black;
  margin-bottom: 5px;
  font-size: 18px;
}

.wbdv-register-btn {
  background-color: #FF303A;
  color: white;
  border-radius: 0px;
  border: 2px solid black;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  margin: 5px 0px;
  padding: 0px;
}

.wbdv-small-register-btn {
  font-size: 16px;
  font-weight: bolder;
}

/* Profile */

.wbdv-profile-info {
  background-color: #e9ecef;
  border-radius: 0px;
  border: 2px solid black;
  margin-top: 30px;
  padding: 20px;
}

.wbdv-profile-row {
  margin: 0px;
}

.wbdv-profile-picture-surround {
  text-align: right;
  line-height: 20px;
  padding: 0px 15px 10px;
}

.wbdv-profile-picture {
  border-radius: 0px;
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

.wbdv-simple-info {
  padding: 0px 15px;
}

.wbdv-profile-field-labels {
  font-size: 12px;
  font-weight: bold;
}

.wbdv-profile-field-group {
  margin-top: 5px;
}

.wbdv-profile-field {
  background-color: white;
  color: black;
  border-radius: 0px;
  border: 2px solid black;
  font-size: 14px;
  height: 30px;
  padding: 8px;
}

.wbdv-bio-field {
  background-color: white;
  color: black;
  border-radius: 0px;
  border: 2px solid black;
  font-size: 16px;
  max-lines: 4;
}

.wbdv-profile-first-name-col {
  padding: 0px;
}

.wbdv-profile-last-name-col {
  padding: 0px 0px 0px 20px;
}

.wbdv-profile-left-col {
  padding: 0px 10px 0px 0px;
}

.wbdv-profile-right-col {
  padding: 0px 0px 0px 10px;
}

.wbdv-update-profile {
  background-color: #FF303A;
  color: white;
  border-radius: 0px;
  border: 2px solid black;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  margin: 20px 0px 0px;
  padding: 0px;
}

.wbdv-added-info {
  text-align: center;
  text-transform: capitalize;
}

.add-picture-btn {
  position: absolute;
  background-color: #3AB1E3;
  color: white;
  top: 10px;
  left: 25px;
  width: 30px;
  height: 30px;
  padding: 0px;
  border-radius: 0px;
  border: 2px solid black;
  text-align: center;
  line-height: 27px;
  font-size: 16px;
}

.remove-picture-btn {
  position: absolute;
  background-color: #3AB1E3;
  color: white;
  top: 10px;
  left: 60px;
  width: 30px;
  height: 30px;
  padding: 0px;
  border-radius: 0px;
  border: 2px solid black;
  text-align: center;
  line-height: 27px;
  font-size: 16px;
}

.add-picture-input {
  cursor: pointer;
  height: 100%;
  position:absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.wbdv-profile-textarea {
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none;
}

.wbdv-admin-dropdown {
  background-color: #DDDDDD;
  color: black;
  border-radius: 0px;
  margin-top: -1px;
  margin-left: -6px;
  padding: 0px 5px;
  font-size: 18px;
  height: 100%;
  width: 110%;
}

/* Profile Collection */

.wbdv-profile-collection {
  background-color: #e9ecef;
  border-radius: 0px;
  border: 2px solid black;
  margin-top: 30px;
  padding: 20px;
  height: 480px;
}

.wbdv-profile-collection-header {
  background-color: #3AB1E3;
  color: white;
  border-radius: 0px;
  border: 2px solid black;
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
}

.wbdv-profile-cover-col {
  margin-top: 8px;
  padding: 1.5% 1.5% 0%;
}

.wbdv-profile-cover {
  border-radius: 0px;
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

.wbdv-profile-empty {
   color: black;
   text-align: center;
   padding-top: 140px;
   font-size: 40px;
 }

.wbdv-profile-empty-sm {
  color: black;
  text-align: center;
  font-size: 18px;
}

/* Profile Reviews */

.wbdv-profile-reviews {
  background-color: #e9ecef;
  border-radius: 0px;
  border: 2px solid black;
  margin: 30px 0px 20px;
  padding: 20px;
  height: 480px;
}

.wbdv-profile-review-header {
  background-color: #3AB1E3;
  color: white;
  border-radius: 0px;
  border: 2px solid black;
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
}

.wbdv-profile-review-message {
  background-color: white;
  color: black;
  border-radius: 0px;
  border: 2px solid black;
  margin-top: 21px;
  padding: 2px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-size: 12px;
  width: 100%;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.wbdv-profile-review {
  background-color: #DDDDDD;
  border-radius: 0px;
  font-size: 12px;
  border: 2px solid black;
  padding: 10px;
  margin-top: 20px;
}

.wbdv-profile-review+.wbdv-profile-review {
  border-top-width: 2px;
}

.wbdv-profile-review-row {
    letter-spacing: 5px;
    margin: 0px;
    padding: 2px 0px;
    width: 100%;
}

/* Collection */

.wbdv-collection {
  background-color: #e9ecef;
  border-radius: 0px;
  border: 2px solid black;
  margin: 30px 0px 20px;
  padding: 20px;
}

.wbdv-collection-header {
  background-color: #3AB1E3;
  color: white;
  border-radius: 0px;
  border: 2px solid black;
  text-align: center;
  font-size: 1.4em;
  padding: 3px;
  font-weight: bolder;
}

.wbdv-collection-dropdown {
  background-color: white;
  color: black;
  border-radius: 0px;
  border: 2px solid black;
  font-size: 16px;
  height: 100%;
}

.wbdv-collection-search-col {
  padding: 0px 10px 20px;
  margin: 0px;
}

.wbdv-collection-search-labels {
  font-size: 12px;
  font-weight: bold;
}

.wbdv-collection-search-group {
  margin: 0 auto;
  border-radius: 0px;
}

.wbdv-collection-search-row {
  padding: 10px 0px 0px;
}

.wbdv-collection-col {
  padding: 0% 1.5% 2%;
}

.wbdv-collection-cover {
  border-radius: 0px;
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

.wbdv-grade-box {
  position: absolute;
  background-color: #FFDF00;
  color: black;
  bottom: 13%;
  right: 14%;
  padding: 3px 5px;
  border-radius: 0px;
  border: 2px solid black;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  font-weight: bold;
}

.wbdv-delete-box {
  position: absolute;
  background-color: #3AB1E3;
  color: white;
  top: 4%;
  left: 14.5%;
  padding: 3px 5px;
  border-radius: 0px;
  border: 2px solid black;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  font-weight: bold;
}

.wbdv-collection-empty {
  color: black;
  text-align: center;
  padding: 50px 0px 50px;
  font-size: 40px;
}

.wbdv-collection-empty-sm {
  color: black;
  text-align: center;
  font-size: 18px;
}

.wbdv-no-search-results {
  color: black;
  text-align: center;
  padding: 50px 0px 50px;
  font-size: 30px;
}

/* Reviews  */

.wbdv-reviews {
  background-color: #e9ecef;
  border-radius: 0px;
  border: 2px solid black;
  margin: 30px 0px 20px;
  padding: 20px;
}

.wbdv-reviews-header {
  background-color: #3AB1E3;
  color: white;
  border-radius: 0px;
  border: 2px solid black;
  text-align: center;
  font-size: 1.4em;
  padding: 3px;
  font-weight: bolder;
}

.wbdv-regular-review-message {
  background-color: white;
  color: black;
  border-radius: 0px;
  border: 2px solid black;
  margin-top: 10px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
  font-size: 19px;
}

/* Character */

.wbdv-character-top-info {
  background-color: #DDDDDD;
  height: 54%;
  border-radius: 0px;
  border: 2px solid black;
}

.wbdv-character-info-row {
  height: 16.667%;
  margin: 0px;
  font-size: 16px;
  padding: 5px 0px;
}

.wbdv-character-top-chars {
  background-color: #DDDDDD;
  height: 41%;
  border-radius: 0px;
  border: 2px solid black;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.wbdv-character-related {
  background-color: #3AB1E3;
  color: white;
  margin-bottom: 10px;
  border-radius: 0px;
  border: 2px solid black;
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
}

.wbdv-character-related-cover-col {
  margin-top: 5px;
  padding: 1.25% 2.5%;
}

.wbdv-character-related-cover {
  border-radius: 0px;
  border: 2px solid black;
  width: 100%;
}

.wbdv-character-link {
   color: #0099FF;
 }

.wbdv-no-link {
  color: black;
}

/* Public Profile */

.wbdv-public-profile {
  background-color: #e9ecef;
  border-radius: 0px;
  border: 2px solid black;
  margin: 30px 0px 0px;
  padding: 10px 5px;
}

.wbdv-public-profile-picture {
  border-radius: 0px;
  border: 2px solid black;
  width: 100%;
}

.wbdv-public-profile-col {
  padding-top: 10px;
  padding-bottom: 10px;
}

.wbdv-public-profile-row {
  margin: 5px 0px;
}

/* Admin */

.wbdv-profile-admin-list {
  background-color: #e9ecef;
  border-radius: 0px;
  border: 2px solid black;
  margin: 30px 0px 0px;
  padding: 20px;
}

.wbdv-profile-admin-list-header {
  background-color: #3AB1E3;
  color: white;
  border-radius: 0px;
  border: 2px solid black;
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
}

.wbdv-admin-row {
  margin: 0px 0px -5px;
  font-size: 12px;
  font-weight: bold;
}

.wbdv-admin-field-group {
   padding: 5px 10px 0px ;
 }

.wbdv-admin-field-row {
  padding: 1px 10px;
}

.wbdv-admin-entry {
  margin: 5px 0px 0px;
  font-size: 18px;
  background-color: #DDDDDD;
  border-radius: 0px;
  border: 2px solid black;
}

.wbdv-admin-icon {
  padding: 0px 0px 0px 10px;
}

.wbdv-profile-admin-history {
  background-color: #e9ecef;
  border-radius: 0px;
  border: 2px solid black;
  margin: 30px 0px 20px;
  padding: 20px;
}

.wbdv-profile-admin-history-header {
  background-color: #3AB1E3;
  color: white;
  border-radius: 0px;
  border: 2px solid black;
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
}

.wbdv-profile-admin-history-text {
  margin-top: 20px;
  padding: 2px 8px;
  background-color: #DDDDDD;
  border-radius: 0px;
  border: 2px solid black;
  font-size: 1.0em;
}

.wbdv-admin-history-p {
  margin-bottom: 0px;
}

/* Home Loading */

.wbdv-home-loading {
  width: 100%;
  padding: 40px 10px;
  text-align: center;
  font-size: 30px;
}

.wbdv-home-loading-logo {
  width: 100%;
}

/* Loading */

.wbdv-loading {
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 80px 40px;
}

.wbdv-loading-logo {
  width: 35%;
}

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
